[submodule "simple_machine_language_emulator"]
	path = simple_machine_language_emulator
	url = https://github.com/Edmond120/simple_machine_language_emulator
[submodule "discord_bot"]
	path = discord_bot
	url = https://github.com/Edmond120/discord_bot
[submodule "graph_theory/graph_profiler"]
	path = graph_theory/graph_profiler
	url = https://github.com/Edmond120/graph_profiler
[submodule "graph_theory/graph_scripts"]
	path = graph_theory/graph_scripts
	url = https://github.com/Edmond120/graph_scripts
[submodule "stuyvesant_projects/graphics_engine_remake"]
	path = stuyvesant_projects/graphics_engine_remake
	url = https://github.com/Edmond120/graphics_engine_remake
